@font-face {
    font-family: "light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

body {
    font-family: "light";
}

#login-box {
    border-radius: 4px;
    background: #00bbce;
    border: #ffcd03 dashed 4px;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
}

#login-box-border {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
}

#login-container {
    padding: 1.7em;
    font-family: "light";
    color: white;
}

    #login-container legend {
        font-family: "bold";
        font-size: 3rem;
        color: white;
    }

    #login-container label, #login-container input {
        width: 100%;
    }

    #login-container label {
        font-size: 1.5rem;
    }

    #login-container input {
        text-align: center;
        padding: 0.4em;
        box-sizing: border-box;
        color: #222;
        background: white;
        border: 4px solid #ffcd03;
        border-radius: 0;
    }

        #login-container #pin {
            font-family: "bold";
            font-size: 1.2rem;
            width: 100px;
        }

    #login-container button, a button {
        background: #ffcd03;

        display: block;
        margin: 0 auto;
        border-radius: 0;
        font-size: 1.5em;
        font-family: "bold";
        margin-top: 1em;
    }

    a {
        text-decoration: none;
        color: white;
        border: none;
    }

    a button {
        border: none;
        padding: 0.4em;
    }

.pure-g {
    justify-content: center;
}

#login-error {
    width: 100%;
    padding: 1em;
    background: white;
    box-sizing: border-box;
    color: red;
    font-size: 1.2em;
    font-family: "bold";
    text-align: center;
    position: fixed;
    display: none;
    top: -1em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #ccc;
}


@media screen and (min-width: 35.5em) {
    #login-box, #login-box-border {
        margin-top: 15vh;
    }

    #login-box {
        border:  none;
        height: auto;
        min-height: auto;
    }

    #login-box-border {
        border: #ffcd03 dashed 4px;
        position: absolute;
        margin-left: -.8em;
        margin-top: 15.6vh;
        pointer-events: none;
        left: 25%;
    }
}
