
@font-face {
    font-family: "light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

body {
    font-family: "light";
    overflow: none;
}

button:focus {outline:0;}

#header {
    font-family: "bold";
    font-size: 1.6rem;
    padding: .4em;
    color: #ffcd03;
    text-align: center;
    height: 3em;
}

.pure-g {
    justify-content: center;
}

#cards {
    height: 60vh;
}

#cards ul {
    padding-right: .7em;
    box-sizing: border-box;
    padding-left: 1em;
}

#cards ul li {
    list-style: none;
    box-sizing: border-box;
    position: absolute;
    display: block;
    margin-right: 30px;
}

#cards ul li div {
    background: #ffcd03;
    border: 4px dashed #00bbce;
    height: 50vh;
    display: block;
    width: 100%;
    margin-left: -1.2em;
    padding-top: .8em;
    padding-bottom: .8em;
    padding-left: .4em;
    padding-right: .4em;
    box-sizing: border-box;
    transition: .3s;
    border-radius: 4px;
}

#cards ul li div:hover {
    transform: scale(1.03);
}

#cards ul li div p {
    font-family: "light";
    color: white;
    font-size: 2em;
    padding: .2em .4em;
    text-align: center;
}

.button-container {
    margin: 0 auto;
    display: inline-block;
    height: 15vh;
    transition: .3s;
}

.button-container button {
    margin: 0.1em;
    background: none;
    border: none;
    padding: .2em .6em;
    box-sizing: border-box;
    border: 8px solid #00bbce;
    border-radius: 4px;
    background: #00bbce;
    transition: .3s;
    font-size: 1.6em;
    color: white;
    font-family: "bold";
}

.button-container button:hover {
    transform: scale(1.03);
}

.button-container button img {
    display: inline-block;
    width: 2em;
    padding: .5em;
}

#ok-button {
    float: left;
}

#bad-button {
    float: right;
}

#end {
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    padding-top: 10vh;
    box-sizing: border-box;
    left: calc(50% - 40%);
}

#end img {
    height: 20vh;
    display: block;
    margin: 0 auto;
}

#end p {
    color: #bbb;
    font-family: "light";
    text-align: center;
}

#uploading {
    display: none;
    transition: .3s;
}

#uploading p {
    font-family: "light";
    color: #ffcd03;
    text-align: center;
}

#continue {
    width: 80%;
    margin: 0 auto;
    display: none;
    transition: .3s;
}

#continue button {
    display: block;
    margin: 0 auto;
    color: white;
    background: #ffcd03;
    border-radius: 2px;
    border: none;
    font-size: 1.4em;
    font-family: "light";
    padding: .5em .7em;
}

.sk-circle {
margin: 25px auto;
width: 40px;
height: 40px;
position: relative;
}
.sk-circle .sk-child {
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
}
.sk-circle .sk-child:before {
content: '';
display: block;
margin: 0 auto;
width: 15%;
height: 15%;
background-color: #ffcd03;
border-radius: 100%;
-webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
        animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
-webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
        transform: rotate(30deg); }
.sk-circle .sk-circle3 {
-webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
        transform: rotate(60deg); }
.sk-circle .sk-circle4 {
-webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
.sk-circle .sk-circle5 {
-webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
        transform: rotate(120deg); }
.sk-circle .sk-circle6 {
-webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
        transform: rotate(150deg); }
.sk-circle .sk-circle7 {
-webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
        transform: rotate(180deg); }
.sk-circle .sk-circle8 {
-webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
        transform: rotate(210deg); }
.sk-circle .sk-circle9 {
-webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
        transform: rotate(240deg); }
.sk-circle .sk-circle10 {
-webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
        transform: rotate(270deg); }
.sk-circle .sk-circle11 {
-webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
        transform: rotate(300deg); }
.sk-circle .sk-circle12 {
-webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
        transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
-webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
-webkit-animation-delay: -1s;
        animation-delay: -1s; }
.sk-circle .sk-circle4:before {
-webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
-webkit-animation-delay: -0.8s;
        animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
-webkit-animation-delay: -0.7s;
        animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
-webkit-animation-delay: -0.6s;
        animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
-webkit-animation-delay: -0.5s;
        animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
-webkit-animation-delay: -0.4s;
        animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
-webkit-animation-delay: -0.3s;
        animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
-webkit-animation-delay: -0.2s;
        animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
-webkit-animation-delay: -0.1s;
        animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
} 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}

@keyframes sk-circleBounceDelay {
0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
} 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
}
}


#logout {
    cursor: pointer;
    margin-top: 2em;
    padding: 0.4em 0.6em;
    font-size: 1.2em;
    font-family: "light";
}


#not-supported-orientation {
    position: fixed;
    height: 100vh!important;
    width: 100%;
    background: white;
    z-index: 101010;
    display: none;
}

#not-supported-orientation img {
    display: block;
    height: 45vh;
    margin: 1em auto;
    
}

#not-supported-orientation p {
    text-align: center;
    font-family: "light";
}              


@media screen and (max-height: 35.5em) and (orientation:landscape) {
    
    #not-supported-orientation {
        display: block;
    }
    
}  


@media screen and (min-width: 35.5em) {
    .button-container button img {
        width: 3em;
    }

    #cards ul li div p {
        font-size: 3em;
    }

    .button-container button {
        margin: 0.7em;
        padding: .4em 1em;
        font-size: 2em;
    }

    #cards ul li div {
        margin-right: 1em;
    }

    #cards ul li {
        top: 20vh;
    }

    #cards {
        
        padding: 1em;
    }

    
    #cards ul li div {
        -webkit-box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 5px -4px rgba(0,0,0,0.75);
    }

    #cards ul li div:hover {
        -webkit-box-shadow: 0px 8px 23px -5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 8px 23px -5px rgba(0,0,0,0.75);
        box-shadow: 0px 8px 23px -5px rgba(0,0,0,0.75); 
    }

    .button-container button:hover {
        -webkit-box-shadow: 1px 3px 21px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 3px 21px -4px rgba(0,0,0,0.75);
        box-shadow: 1px 3px 21px -4px rgba(0,0,0,0.75);
    }
}