@font-face {
    font-family: "light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

* {
    outline: none;
}

body {
    font-family: "light";
    background: #fff;
}

h1 {
    text-align: center;
    font-family: "bold"!important;
    color: #333;
}

#charts {
    justify-content: center;
    padding: 1em;
}

.result-box {
    border-radius: 4px;
    box-sizing: border-box;
    padding: 1em;
    
}

.result-box h2 {
    text-align: center;
    font-family: "light";
}

.result-box .charts-box {
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 1em;
    display: flex;
    justify-content: center;
}

.result-box .charts-box .answers-box {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
}

.result-box .charts-box .answers-box .yes-chart {
    width: 90%;
    background: #ffcd03;
    display: inline-block;
}

.result-box .charts-box .answers-box .no-chart {
    width: 90%;
    background: #00bbce;
    display: inline-block;
}

.result-box .charts-box .answers-box p {
    position: relative;
    top: 300px;
    text-align: center;
    font-family: "bold";
    font-size: 1.6em;
}


#logout {
    padding: 1em;
    transition: .3s;
    border-radius: 4px;
    margin-left: 0.3em;
    margin-top: 0.3em;
    position: fixed;
    width: auto;
    user-select: none;
    background: white;
    -webkit-box-shadow: -2px 7px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 22px -5px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 22px -5px rgba(0,0,0,0.75);
    z-index: 1000;
}

#logout:hover {
    background: #ddd;
    cursor: pointer;
}

#logout:active {
    transform: scale(0.97);
}


.nice-button {
    border: none;
    background: #00bbce;
    color: white;
    font-family: "bold";
    font-size: 1.4em;
    padding: .4em 1em;
    transition: .3s;
    margin-left: 0.3em;
    letter-spacing: 1px;
}

.nice-button:hover {
    filter: grayscale(20%);
}

.nice-button:active {
    transform: scale(0.97);
}


@media screen and (min-width: 35.5em) {
    
    
}