.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-6,
.pure-u-2-6,
.pure-u-3-6,
.pure-u-4-6,
.pure-u-5-6,
.pure-u-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-1-3,
.pure-u-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-1-2,
.pure-u-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-2-3,
.pure-u-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-6-6 {
    width: 100%;
}

.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-1-2,
.pure-u-sm-1-3,
.pure-u-sm-2-3,
.pure-u-sm-1-6,
.pure-u-sm-2-6,
.pure-u-sm-3-6,
.pure-u-sm-4-6,
.pure-u-sm-5-6,
.pure-u-sm-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-sm-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-sm-1-3,
.pure-u-sm-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-sm-1-2,
.pure-u-sm-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-sm-2-3,
.pure-u-sm-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-sm-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-sm-1,
.pure-u-sm-1-1,
.pure-u-sm-6-6 {
    width: 100%;
}

.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-1-2,
.pure-u-md-1-3,
.pure-u-md-2-3,
.pure-u-md-1-6,
.pure-u-md-2-6,
.pure-u-md-3-6,
.pure-u-md-4-6,
.pure-u-md-5-6,
.pure-u-md-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-md-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-md-1-3,
.pure-u-md-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-md-1-2,
.pure-u-md-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-md-2-3,
.pure-u-md-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-md-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-md-1,
.pure-u-md-1-1,
.pure-u-md-6-6 {
    width: 100%;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-1-2,
.pure-u-lg-1-3,
.pure-u-lg-2-3,
.pure-u-lg-1-6,
.pure-u-lg-2-6,
.pure-u-lg-3-6,
.pure-u-lg-4-6,
.pure-u-lg-5-6,
.pure-u-lg-6-6 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-lg-1-6 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-lg-1-3,
.pure-u-lg-2-6 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-lg-1-2,
.pure-u-lg-3-6 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-lg-2-3,
.pure-u-lg-4-6 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-lg-5-6 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-lg-1,
.pure-u-lg-1-1,
.pure-u-lg-6-6 {
    width: 100%;
}