
@font-face {
    font-family: "light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "bold";
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}

body {
    font-family: "light";
}

#login-box {
    border-radius: 4px;
    background: #ffcd03;
    border: #00bbce dashed 4px;
    height: 100vh;
    
    box-sizing: border-box;
}

#login-box-border {
    position: absolute;
    box-sizing: border-box;
    pointer-events: none;
}

#login-container {
    padding: 1.7em;
    font-family: "light";
    color: white;
}

    #login-container legend {
        font-family: "bold";
        font-size: 3rem;
        color: white;
    }

    #login-container label, #login-container input {
        width: 100%;
    }

    #login-container label {
        font-size: 1.5rem;
    }

    #login-container input {
        text-align: center;
        padding: 0.4em;
        box-sizing: border-box;
        color: #222;
        background: white;
        border: 4px solid #00bbce;
        border-radius: 0;
    }

        #login-container #pin {
            font-family: "bold";
            font-size: 1.2rem;
            width: 100px;
        }

    #login-container button {
        background: #00bbce;
        padding: .6em 1em;
        display: block;
        margin: 0 auto;
        border-radius: 0;
        font-size: 1.5em;
        font-family: "bold";
        margin-top: 1em;
        border: none;
        transition: .3s;
    }

    #login-container button:active {
        transform: scale(0.97);
    }

    #register {
        background: none;
        border: none;
        color: #777;
        font-size: .8em;
        margin-top: 1em;
        font-family: "light";
        text-decoration: underline;
        transition: .3s;
        letter-spacing: 1px;
    }

    #register:hover {
        font-size: .9em;
    }

.pure-g {
    justify-content: center;
}

#login-error {
    width: 100%;
    padding: 1em;
    background: white;
    box-sizing: border-box;
    color: red;
    font-size: 1.2em;
    font-family: "bold";
    text-align: center;
    position: fixed;
    display: none;
    top: -1em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ccc;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #ccc;
}


@media screen and (min-width: 35.5em) {
    #login-box, #login-box-border {
        margin-top: 15vh;
    }

    #login-box {
        border:  none;
        height: auto;
    }

    #login-box-border {
        border: #00bbce dashed 4px;
        position: absolute;
        margin-left: -.8em;
        margin-top: 15.6vh;
        pointer-events: none;
        left: 25%;
    }
}
