nav div {
    padding: .7em 1em;
    color: white;
    text-align: center;
    background: #00bbce;
    font-size: 1.3em;
    cursor: pointer;
    transition: .3s;
}

#back {
    border-right:  4px dotted #ffcd03;
}

nav div:hover {
    background: #55bbce;
}

nav div:active {
    transform: scale(0.97);
}

@media screen and (min-width: 35.5em) {
    nav {
        justify-content: flex-start!important;
        position: fixed;
    }
}